.language-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  width: 550px;
  background: #ffffff15;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.language-container > .chip{
  border-radius: 3px; 
  padding: 7px;
  font-weight: 600;
  text-align: center;
  width: fit-content;
  position: relative;
  display: inline-block;
  flex: 1;
  
}

.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  top: 0;
  left: 0;
  border: 1px solid red;
  border-radius: inherit;
  background-color: rgba(94, 4, 4, 0.815);
}

@media screen and (max-width: 430px){
  .language-container{
    width: 90%;
  }

  .language-container > .chip{
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
  }
}